<div class="top">
    <div class="container-fluid">
        <nav class="navbar">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search..." ng-model="query">
                </div>

                <button type="submit" class="btn btn-primary" ng-click="filter()">Search</button>
            </form>


            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" ng-click="filter()">
                        <i class="fa fa-refresh"></i>
                    </a>
                </li>

                <li>
                    <a data-toggle="modal" ui-sref="site.page.create">
                        <i class="fa fa-plus"></i>
                    </a>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-expanded="false"><i class="fa fa-ellipsis-h"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" ng-click="fullIndex()">Rebuild Index</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div class="container-fluid">
    <small class="help-block">{{totalResults}} results</small>
    <table st-table="rowCollection" st-pipe="loadData" class="table table-striped table-hover table-condensed">
        <thead>
        <tr>
            <th><input type="checkbox"/></th>
            <th>Path</th>
            <th>Title</th>
            <th>Type</th>
            <th>Description</th>
            <th>LastUpdateTime</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody ng-show="!isLoading">
        <tr ng-repeat="row in rowCollection" st-select-row="row" st-select-mode="multiple">
            <td table-checkbox="row"></td>
            <td><a href="{{row.path}}" target="_blank">{{row.path}}</a></td>
            <td>{{row.title}}</td>
            <td>{{row.type}}</td>
            <td title="{{row.description}}">{{row.description | limitTo: 30 }}{{row.description.length > 30 ? '...' :
                ''}}
            </td>
            <td>{{row.lastUpdateTime | date : 'yyyy-MM-dd HH:mm'}}</td>
            <td>
                <button class="btn btn-default btn-sm" ng-click="updatePage(row)">Edit</button>
                <button class="btn btn-danger btn-sm" ng-click="deletePage(row)">Delete</button>
            </td>
        </tr>
        </tbody>

        <tbody ng-show="isLoading">
        <tr>
            <td colspan="8" class="text-center">Loading ...</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td st-pagination="" st-items-by-page="pageSize" colspan="8"
                st-resource="st-pagination.html">
            </td>
        </tr>
        </tfoot>
    </table>
</div>
