<div class="top">
    <ul class="nav">
        <li role="presentation">
            <span ng-if="isFileChanged()">*</span> {{file.path}}
        </li>
    </ul>

    <div class="top-action">
        <button class="btn btn-sm btn-default" ng-click="resetUser()">Reset</button>
        <button class="btn btn-sm btn-primary" ng-click="updateUser()" ng-if="$state.is('site.user.update')">Update
        </button>
        <button class="btn btn-sm btn-primary" ng-click="createUser()" ng-if="$state.is('site.user.create')">Create
        </button>
        <button class="btn btn-sm btn-danger" ng-click="deleteUser()">Delete</button>
    </div>
</div>

<div class="body">
    <form>
        <div class="form-group">
            <label class="control-label">Username</label>

            <input type="text" class="form-control" placeholder="Username" ng-model="user.username">
        </div>

        <div class="form-group">
            <label class="control-label">Password</label>
            <input type="password" class="form-control" placeholder="" ng-model="user.password">
        </div>

        <div class="form-group">
            <label class="control-label">Description</label>
            <textarea class="form-control" placeholder="Description" ng-model="user.description"></textarea>
        </div>

        <div class="form-group">
            <label class="control-label">Roles</label>
            <ui-select multiple tagging tagging-label="" ng-model="user.roles">
                <ui-select-match placeholder="Select roles...">{{$item}}</ui-select-match>
                <ui-select-choices repeat="role in user.roles | filter:$select.search">
                    {{role}}
                </ui-select-choices>
            </ui-select>
        </div>
    </form>
</div>
